.appbar {
    height: 60px;
    font-family: 'Nunito';
    background-color: transparent !important;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
  }
  
  .appbarWrapper {
    width: 80%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .appbartitle {
    flex-grow: 2;
    color: red;
    font-size: 2rem;
  }
  
  .button1 {
    background-color: green !important;
    margin: 0 10px !important;
    color: white !important;
  }
  
  .logo {
    margin: 0 5px;
    background-color: transparent !important;
  }
  
  .button2 {
    background-color: orange !important;
    margin: 0 10px !important;
    color: white !important;
  }
  
  .texthighlight {
    color: green;
  }
  
  .hyphen {
    color: blue;
  }
 